@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Articulat";
    src: url("/public/assets/fonts/ArticulatCF-Medium.otf");
    font-weight: 600;
  }

  @font-face {
    font-family: "Articulat";
    src: url("/public/assets/fonts/ArticulatCF-Normal.otf");
    font-weight: 500;
  }

  body {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    font-family: "Articulat", helvetica, arial, sans-serif;
  }
}
